
body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: #aece4c;
	font: 12px "Lucida Grande", Lucida, Verdana, sans-serif;

}

body::after {
	content: "";
  position: absolute;
  top: 30%; 
  left: 0;
  width: 100%; 
  height: 70%;  
  opacity: .05; 
  z-index: -1;
   background:  url(../img/logo.png) no-repeat center top;
  background-position: center;
}

.app {
	text-align: center;
	height: 100%;
}


h1#title {
	font-size: 30px;
	opacity: 0.1;
 
}

#input_strekkode {
	width: 80%;
	margin: 1em auto;
	display: flex;
	
 }


#strekkode {
	width: 70%;
	padding: 6px 10px;
	line-height: 2em;
	font-size: 1.6em;
	border: 0.1em solid #FFFFFF;
	 border-radius: 0.12em;
	 box-sizing: border-box;
}

button#get_strekkode.button {
	width: 30%;
	font: 2.6em Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	border: 0.1em solid #FFFFFF;
	border-radius: 0.12em;
	box-sizing: border-box;
}

#scan_strekkode {
	width:  80%;
	font: 2.6em Georgia, "Times New Roman", Times, serif;
	font-size: 1.6em;
	color: #676767;
	line-height: 2.6em;
}

.buxtton {
	width: 40%;
	display: inline-block;
	 padding: 20px;
	 line-height: 2em;
	 font-size: 2em;
	 border: 0.1em solid #FFFFFF;
	 margin: 2em;
	 border-radius: 0.12em;
	 box-sizing: border-box;
	 text-decoration: none;
	 text-align: center;
	 transition: all 0.2s;
	background-color: whitesmoke;
	height: 3em;
} 

.button:hover {
	 color: #000000;
	 background-color: #FFFFFF;
}

div#div1 {
	width: 80%;
	margin: 2em auto;
	padding: 1em;
	box-sizing: border-box;
	background:whitesmoke;
	
}
 
#div1 h1 {
	color:  black !important;	
}


 